<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button (click)="layoutService.onMenuToggle()" class="layout-menu-button layout-topbar-action">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img alt="logo" class="mb-2" height="54" src="/svgs/logo.svg" width="40" />
            <span>RohnamoAI</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button (click)="toggleDarkMode()" class="layout-topbar-action" type="button">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
            <div class="relative">
                <button
                    [hideOnOutsideClick]="true"
                    class="layout-topbar-action layout-topbar-action-highlight"
                    enterActiveClass="animate-scalein"
                    enterFromClass="hidden"
                    leaveActiveClass="animate-fadeout"
                    leaveToClass="hidden"
                    pStyleClass="@next"
                >
                    <i class="pi pi-palette"></i>
                </button>

                <app-configurator />
            </div>


        </div>

        <button [hideOnOutsideClick]="true" class="layout-topbar-menu-button layout-topbar-action"
                enterActiveClass="animate-scalein"
                enterFromClass="hidden" leaveActiveClass="animate-fadeout" leaveToClass="hidden"
                pStyleClass="@next">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button class="layout-topbar-action" type="button">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
            </div>
        </div>
    </div>
</div>
